<div id="content">
  <img src="../../assets/images/altair.svg" alt="Altair 8800">
  <canvas id="display" width="2250.38" height="1042.06"
          (mousedown)="mouseDown($event)"
          (mouseup)="mouseUp()"></canvas>
  <div style="display: none">
    <img id="switchUp" src="../../assets/images/switch_up.svg" alt="Switch Up">
    <img id="switchCenter" src="../../assets/images/switch_center.svg" alt="Switch Center">
    <img id="switchDown" src="../../assets/images/switch_down.svg" alt="Switch Down">
  </div>
</div>
